{%	extends	"website/base.html"	%}
{% load staticfiles %}
{% block title %}{{grant.title}}{% endblock title %}
		{% block content %}
		<div>
		<p><img src="{% static "user/images/" %}{{grant.title}}.jpg" align="Right"/>{{grant.text|linebreaks}}</div>
		<p align="center" style="font-size:25px;">For more information visit:<a href="{{grant.link}}" style="font-size:25px;"><input type="button" value="Click"/></a></p>
		</body>
<style type="text/css">
#logout{
margin:0px 0px 0px 1240px;
color:white;
text-decoration:none;
font-size:20px;}
#logout:hover{
text-decoration:underline;
}
p{
font-size:22px;
}

#T{
text-align:center;
font-family:Palatino, serif;
font-size:40px;
color:white;
min-width:1330px;
background-color:#034054;
}

.Menu
{
color:white;
text-decoration:none;
}
.Menu:hover{
color:#0d7192;
}
#M{
font-size:20px;
background-color:#b0c8de;
}
.RG{
color:#682a40;
font-weight:bold;
}
.RG:hover{
text-decoration:underline;
}
</style>
{% endblock %}
