{%	extends	"website/base.html"	%}
{% load staticfiles %}
{% block title %}Intern Circle{% endblock title %}
		{% block content %}
		<div id="Left">
		<h1 align="center">Research Topics</h1>
		<ol id="list">
			<li><a href="#">Topic 1</a></li>
			<div class="back">
				<span class="data">Discription</span>
				<p>The Nano Mission is an umbrella programme for capacity building which envisages the overall development of this field of research in the country and to tap some of its applied potential for nation’s development.  Funding of basic research by individual scientists and/or groups of scientists and creation of centres of excellence for pursuing studies leading to fundamental understanding of matter that enables control and manipulation at the nanoscale</p>
				<span class="data">Research Head</span>
				<p>Mr. Dilsher Josan</p>
				<span class="data">Contact</span>
				<p>blablabla@Gmail.com</p>
				<span class="data">Interns Associated</span><br>
				<ul><li>Mukul</li><br>
				<li>Jatin</li><br>
				<li>Pranav</li>
				</ul>
				<input type="button" value="Apply" style="cursor:hand;margin:0px 0px 20px 400px; height:40px; width:80px; background-color:#4b8ca1;" />
				</div>
			<li><a href="#">Topic 2</a></li>
			<div class="back">
				<span class="data">Discription</span>
				<p>The Nano Mission is an umbrella programme for capacity building which envisages the overall development of this field of research in the country and to tap some of its applied potential for nation’s development.  Funding of basic research by individual scientists and/or groups of scientists and creation of centres of excellence for pursuing studies leading to fundamental understanding of matter that enables control and manipulation at the nanoscale</p>
				<span class="data">Research Head</span>
				<p>Mr. Dilsher Josan</p>
				<span class="data">Contact</span>
				<p>blablabla@Gmail.com</p>
				<span class="data">Interns Associated</span><br>
				<ul><li>Mukul</li><br>
				<li>Jatin</li><br>
				<li>Pranav</li>
				</ul>
				<input type="button" value="Apply" style="cursor:hand;margin:0px 0px 20px 400px; height:40px; width:80px; background-color:#4b8ca1;" />
				</div>
		</ol>
		</div>
		<div id="Right">
		<h1 align="center">Project Topics</h1>
		<ol id="list">
			<li><a href="#">Topic 1</a></li>
			<div class="back">
				<span class="data">Discription</span>
				<p>The Nano Mission is an umbrella programme for capacity building which envisages the overall development of this field of research in the country and to tap some of its applied potential for nation’s development.  Funding of basic research by individual scientists and/or groups of scientists and creation of centres of excellence for pursuing studies leading to fundamental understanding of matter that enables control and manipulation at the nanoscale</p>
				<span class="data">Research Head</span>
				<p>Mr. Dilsher Josan</p>
				<span class="data">Contact</span>
				<p>blablabla@Gmail.com</p>
				<span class="data">Interns Associated</span><br>
				<ul><li>Mukul</li><br>
				<li>Jatin</li><br>
				<li>Pranav</li>
				</ul>
				<input type="button" value="Apply" style="cursor:hand;margin:0px 0px 20px 400px; height:40px; width:80px; background-color:#4b8ca1;" />
				</div>
			<li><a href="#">Topic 2</a></li>
			<div class="back">
				<span class="data">Discription</span>
				<p>The Nano Mission is an umbrella programme for capacity building which envisages the overall development of this field of research in the country and to tap some of its applied potential for nation’s development.  Funding of basic research by individual scientists and/or groups of scientists and creation of centres of excellence for pursuing studies leading to fundamental understanding of matter that enables control and manipulation at the nanoscale</p>
				<span class="data">Research Head</span>
				<p>Mr. Dilsher Josan</p>
				<span class="data">Contact</span>
				<p>blablabla@Gmail.com</p>
				<span class="data">Interns Associated</span><br>
				<ul><li>Mukul</li><br>
				<li>Jatin</li><br>
				<li>Pranav</li>
				</ul>
				<input type="button" value="Apply" style="cursor:hand;margin:0px 0px 20px 400px; height:40px; width:80px; background-color:#4b8ca1;" />
				</div>
			<li><a href="#">Topic 3</a></li>
			<div class="back">
				<span class="data">Discription</span>
				<p>The Nano Mission is an umbrella programme for capacity building which envisages the overall development of this field of research in the country and to tap some of its applied potential for nation’s development.  Funding of basic research by individual scientists and/or groups of scientists and creation of centres of excellence for pursuing studies leading to fundamental understanding of matter that enables control and manipulation at the nanoscale</p>
				<span class="data">Research Head</span>
				<p>Mr. Dilsher Josan</p>
				<span class="data">Contact</span>
				<p>blablabla@Gmail.com</p>
				<span class="data">Interns Associated</span><br>
				<ul><li>Mukul</li><br>
				<li>Jatin</li><br>
				<li>Pranav</li>
				</ul>
				<input type="button" value="Apply" style="cursor:hand;margin:0px 0px 20px 400px; height:40px; width:80px; background-color:#4b8ca1;" />
				</div>
		</ol>
		</div>
		</body>
<style type="text/css">
#logout{
margin:0px 0px 0px 1240px;
	color:white;
	text-decoration:none;
	font-size:20px;
	}
#logout:hover{
	text-decoration:underline;
	}
.data{
font-size:20px;
text-decoration:underline;
font-weight:bold;
}
p{
font-size:20px;
width:500px;
}
.back{
width:500px;
padding-left:10px;
padding-top:10px;
background-color:#b3c2f9;
border-right:solid;
border-right-color:#2d7086;
border-right-width:15px;
border-left:solid;
border-left-color:#2d7086;
border-left-width:15px;
overflow:auto auto;
}

#Left{
margin:0px 0px 0px 70px;
float:left;
}
#Right{
margin:0px 80px 0px 0px;
float:right;
}
h1{
text-shadow:0px 0px 10px #6d99f3;
font-style:italic;
color:#224956;
text-decoration:underline;
}
#list ol li{
font-size:25px;
}
#list li a{
text-decoration:none;
color:#625f5a;
font-size:30px;
line-height:50px;
}
#list li a:hover {
font-size:35px;
}.H{
display:inline;
border-left:2px solid;
border-left-color:white;
padding-left:1em;
padding-right:1em;
}
.HF{
display:inline;
border-left:none;
padding-left:0;
padding-right:1em;
}
#T{
text-align:center;
font-family:Palatino, serif;
font-size:40px;
color:white;
height:200px;
min-width:1330px;
background-position:center;
background-repeat:no-repeat;
background-image:url("{% static "user/images/ICP.jpg" %}");
}
#M{
text-align:center;
font-family:Andale Mono, monospace;
min-height:30px;
background-color:#0bbaf4;
font-size:20px;
margin:50px 0px 0px 0px;
text-decoration:none;
overflow:auto auto;
min-width:1330px;
}
#M li{
display:inline;
}
.Menu
{
color:white;
text-decoration:none;
}
.Menu:hover{
color:#0d7192;
}
#M ul li:hover > ul {
  visibility: visible;
  
}
#M ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#M ul ul {
text-align:left;
font-size:15px;
width:185px;
line-height:30px;
border-color:black;
	margin-left:485px;
 visibility: hidden;
  position: absolute;
  z-index: 598;
  background: #3b5757;
}
#M ul ul a {
text-decoration:none;
 color:White; 
}
#M ul ul a:hover {
font-size:16px;
}
</style>
{% endblock %}
